<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            font-family: Arial, sans-serif; /* Chọn font chữ */
            background-color: #e0f7fa; /* Màu nền */
            margin: 0; /* Xóa margin mặc định */
            padding: 20px; /* Thêm padding */
            text-align: center; /* Căn giữa nội dung */
        }

        h1 {
            color: #00796b; /* Màu chữ cho tiêu đề */
            font-size: 2.5em; /* Kích thước chữ */
            margin-top: 50px; /* Khoảng cách từ trên xuống */
        }
    </style>
</head>
<body>
    <h1>THANH TOÁN THÀNH CÔNG! Thông tin đã được gửi về email của bạn.</h1>
<div class="button text-center">
    <a href="/"><button type="submit"> <h3>Trở về Trang chủ</h3></button></a>
</div>
</body>
</html>